
<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <main class="main-main">
    <div class="card-container" style="background-color: darkcyan;">
      <p class="product-total" style="background-color: darkcyan; color: white"><%=pageTitle%></p>
    </div>
    <%if(note) { %>
    <div class="note">
      <p><%=note%></p>
    </div>
    <% } %>
    <form class="product-form" action="<%=pageTitle === 'Login' ? '/login' : '/signup'%>" method="POST">
      <div class="product-form__controls">
        <label class="product-form__title-label" for="email">email</label>
        <input class="product-form__title-input" type="email" name="email" id="email" %>" >
      </div>
      <div class="product-form__controls">
        <label class="product-form__title-label" for="password">password</label>
        <input class="product-form__title-input" type="password" name="password" id="password" %>" >
      </div>
      <%if(pageTitle === 'Signup') { %>
        <div class="product-form__controls">
          <label class="product-form__title-label" for="password">confirm password</label>
          <input class="product-form__title-input" type="password" name="confirmPassword" id="confirmPassword" %>" >
        </div>
      <% } %>
      <div class="product-form__controls">
        <button class="product-form__btn" type="submit">
          <%=pageTitle === "Login" ? "login" : "signup" %>
        </button>
      </div>
    </form>
  </main>
</body>
