<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <div class="user-info">
    <p class="user-email"><%=user.email%> </p>
  </div>
  <main class="main-main">
    <div class="grid">
      <% if (products[0]) {%>
      <% for(let product of products) {%>
        <article class="card-container">
          <header class="card">
            <h1 class="product-title"><%= product.title %></h1>
          </header>
          <div class="card-cotrols">
            <img src="/<%= product.image%>" alt="a project image"></ing>
          </div>
          <div class="card">
            <p class="product-price">$<%=product.price%></p>
          </div>
          <div class="card description">
            <p class="product-description"><%= product.description %></p>
          </div>
          <div class="card-controls btns">
            <a class="details-btn" href="/admin/edit-product/<%=product._id%>">edit</a>
            <form class="product__add-btn" action="/admin/delete-product" method="POST">
              <button class="add-btn" type="submit">delete</button>
              <input type="hidden" name="productId" value="<%=product._id%>" >
              <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            </form>
          </div>
        </article>
      <% } %>
      <%} else {%>
        <h1>Empty at the time</h1>
      <% } %>
    </div>
  </main>

</body>
