<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <% if(user) { %>
    <div class="user-info">
      <p class="user-email"><%=user.email%></p>
    </div>
    <% } %>
  <form class="order-btn-container" action="/orders" method="POST">
   <button class="order-btn" type="submit" >Place Order</button>
  </form>
  <main class="main-main main-orders">
    <div class="grid grid-orders">
      <div class="card-container" style="background-color: firebrick;">
        <p class="product-total" style="background-color: firebrick; color: white"><%=pageTitle%> <%=cart[1] ? 'Items' : 'Item'%></p>
      </div>
      <% if (cart[0]) {%>
      <% for(let item of cart) {%>
        <article class="card-container">
          <header class="card">
            <h2 class="product-title"><%= item.productId.title %></h2>
          </header>
          <div class="card-cotrols">
            <img src=<%= item.productId.image%> alt="a project image">
          </div>
          <div class="card">
            <p class="product-price">$<%=item.productId.price%></p>
            <p class="product-price">Qty: (<%=item.quantity%>)</p>
          </div>
          <div class="card description">
            <p class="product-description"><%= item.productId.description %></p>
          </div>
          <div class="card-controls btns">
            <a class="details-btn" href="/products/<%=item.productId._id%>">Details</a>
            <%-include('../templates/buttons.ejs', {product: item.productId})%>
          </div>
        </article>
      <% } %>
      <%} else {%>
        <h1>Empty at the time</h1>
      <% } %>
    </div>
  </main>
</body>

