<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <div class="user-info">
    <p class="user-name"><%=user.firstName%> <%=user.lastName%></p>
    <p class="user-email"><%=user.email%> </p>
  </div>
  <form class="order-btn-container" action="/orders" method="POST">
   <button class="order-btn" type="submit">Place Orders</button>
  </form>
  <main class="main-main main-orders">
    <div class="grid grid-orders">
      <div class="card-container" style="background-color: firebrick;">
        <p class="product-total" style="background-color: firebrick; color: white"><%=pageTitle%> <%=cart[1] ? 'Items' : 'Item'%></p>
      </div>
      <% if (cart[0]) {%>
      <% for(let item of cart) {%>
        <article class="card-container">
          <header class="card">
            <h2 class="product-title"><%= item.product.title[0].toUpperCase() + item.product.title.slice(1) %></h2>
          </header>
          <div class="card-cotrols">
            <img src=<%= item.product.image%> alt="a project image"></ing>
          </div>
          <div class="card">
            <p class="product-price">$<%=item.product.price%></p>
            <p class="product-price">Qty: (<%=item.quantity%>)</p>
          </div>
          <div class="card description">
            <p class="product-description"><%= item.product.description %></p>
          </div>
          <div class="card-controls btns">
            <a class="details-btn" href="/products/<%=item.product._id%>">Details</a>
            <%-include('../templates/buttons.ejs', {product: item.product})%>
          </div>
        </article>
      <% } %>
      <%} else {%>
        <h1>Empty at the time</h1>
      <% } %>
    </div>
  </main>
</body>

