<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <main class="main-main">
    <div class="grid">
      <% if (cart.length > 0) {%>
      <% for(let product of cart) {%>
        <article class="card-container">
          <header class="card">
            <h2 class="product-title"><%= product.title[0].toUpperCase() + product.title.slice(1) %></h2>
          </header>
          <div class="card-cotrols">
            <img src=<%= product.image%> alt="a project image"></ing>
          </div>
          <div class="card">
            <p class="product-price">$<%=product.price%></p>
            <p class="product-price">Qty: (<%=product.quantity%>)</p>
          </div>
          <div class="card description">
            <p class="product-description"><%= product.description %></p>
          </div>
          <div class="card-controls btns">
            <a class="details-btn" href="/products/<%=product.id%>">Details</a>
            <%-include('../templates/buttons.ejs', {product: product})%>
          </div>
        </article>
      <% } %>
      <%} else {%>
        <h1>Empty at the time</h1>
      <% } %>
    </div>
  </main>
</body>

