<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <div class="user-info">
    <p class="user-name"><%=user.firstName%> <%=user.lastName%></p>
    <p class="user-email"><%=user.email%> </p>
  </div>
  <main class="main-main main-orders">
    <div class="grid grid-orders">
      <% if (orders[0]) {%>
      <ul>
        <% for(const order of orders) {%>
          <li>
            <% total = 0 %>
            <div class="card-container" style="background-color: green;">
              <p class="product-total" style="background-color: green; color: white">ORDER: <%=order.date.toDateString()%></p>
            </div>
            <ul>
              <% for(const product of order.products) {%>
                <li>
                  <% total += +product.product.price * +product.quantity%>
                  <article class="card-container">
                    <header class="card">
                      <h2 class="product-title"><%= product.product.title[0].toUpperCase() + product.product.title.slice(1) %></h2>
                    </header>
                    <div class="card-cotrols">
                      <img src=<%= product.product.image%> alt="a project image"></ing>
                    </div>
                    <div class="card">
                      <p class="product-price">$<%=product.product.price%></p>
                      <p class="product-price">Qty: (<%=product.quantity%>)</p>
                    </div>
                    <div class="card description">
                      <p class="product-description"><%= product.product.description %></p>
                    </div>
                  </article>
                </li>
              <% } %>
            </ul>
            <div class="card-container">
              <div class="grid" >
                <p class="product-total">total:</p>
                <p class="product-total">$<%=total%></p>
              </div>
            </div>
            <hr>
          </li>
        <% } %>
      </ul>
      <%} else {%>
        <h1>Empty at the time</h1>
      <% } %>
    </div>
  </main>
</body>
