<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <% if(user) { %>
    <div class="user-info">
      <p class="user-email"><%=user.email%></p>
    </div>
    <% } %>
  <article class="card-container">
    <header class="card">
      <h2 class="product-title"><%= product.title %></h2>
    </header>
    <div class="card-cotrols-image">
      <img src="/<%= product.image%>" alt="a project image"></ing>
    </div>
    <div class="card">
      <p class="product-price">$<%=product.price%></p>
    </div>
    <div class="card description">
      <p class="product-description"><%= product.description %></p>
    </div>
    <div class="card-controls btns">
      <% if(isAuthenticated) { %>
        <%-include('../templates/buttons.ejs', {product: product})%>
      <% } %>
    </div>
  </article>
</body>
